<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${eclipse_home}\toolchain\openocd\bin\openocd.exe"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-s ../share/openocd/scripts -f interface/ftdi/olimex-arm-usb-ocd-h.cfg -f target/mcu32.cfg -c halt -c &quot;load_image ROM.bin 0x800 bin&quot; -c &quot;resume 0x0&quot; -c &quot;exit&quot;"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_path}/build"/>
</launchConfiguration>
